
.jumbotron{
    background-image: url(../img/d19a402524f4638a6759c53120a951b0.jpg);
    background-size:cover;background-position:center;
    margin-top: 53px;
    height: 720px;
}
.jumbotron p,.fa{
    color:#fff;
}